version: 2
updates:
- package-ecosystem: nuget
  directories:
    - "src/Pure.HashCodes.Abstractions"
  schedule:
    interval: daily
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
