name: .NET build & test

on:
  pull_request:
    branches: [ "main" ]

env:
  COVERAGE_WARNING_THRESHOLD: 99
  COVERAGE_THRESHOLD: 98
  MUTATION_THRESHOLD: 98

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src
    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.x.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -warnaserror
    - name: Code style check by dotnet format
      run: dotnet format --verify-no-changes
    - name: Install csharpier
      run: dotnet tool install -g csharpier
    - name: Code style check by csharpier
      run: csharpier check .
